<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='site.css')}}"
    />
  </head>

  <body>
    <div class="navbar">
      <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
      <a href="{{ url_for('enternew') }}" class="navbar-item">Add New Item</a>
      <a href="{{ url_for('list') }}" class="navbar-item"
        >Review and Edit Items</a
      >
    </div>

    <div class="body-content">
      {% block content %} {% endblock %}
      <hr />
      <footer>
        <p>
          <img
            src="{{ url_for('static', filename='logo.png')}}"
            width="35"
            height="20"
          />&copy;2024 | 99% of gamblers quit right before they're about to hit it big.
        </p>
      </footer>
    </div>
  </body>
</html>
